@model CategoryTypeViewModel

<tr>
    <td>
        <img src="@Model.CategoryImageUrl" alt="@Model.CategoryName" class="img-circle img-size-32 mr-2">
        @Model.CategoryName
    </td>
    <td>@Model.ProductModelsCount</td>
    <td>@Model.ProductsCount</td>
    <td>
        <a asp-area=""
            asp-controller="Models"
            asp-action="@string.Concat(Model.CategoryName + "_" + Model.TypeName).Replace(" ", string.Empty)"
            class="text-muted"
            onclick="displayBusyIndicator()">
                <i class="fa fa-folder-open-o"></i>
        </a>
    </td>
</tr>