@model OurTeamViewModel

<div class="col-lg-3 col-md-6">
    <div class="member">
        <div class="pic"><img src="@Model.ImageUrl" alt=""></div>
        <div class="details">
            <h4>@Model.Name</h4>
            <span>@Model.Position</span>
            <div class="social">
                <a href="@Model.TwitterUrl" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="@Model.FacebookUrl" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="@Model.GooglePlusUrl" target="_blank"><i class="fa fa-google-plus"></i></a>
                <a href="@Model.LinkedInUrl" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>